@import 'components/breadcrumb';
@import 'components/color';
@import 'components/group-item';
@import 'components/info-panel';
@import 'components/navbars';
@import 'components/sidebar';
@import 'components/table';
@import 'components/widget';
@import 'portlet/portlet';
@import 'portlet/portlet_decorators';

@import 'custom_properties/custom_properties_set';

body {
	header {
		.field-wrapper {
			position: absolute;
			right: 4px;
			top: 2px;

			a {
				color: #fff;
			}
		}

		.field-wrapper,
		.form-group {
			margin-bottom: 0;
		}

		.portlet {
			margin-bottom: 0;

			&:hover {
				z-index: 1034;
			}
		}

		.search-input {
			font-size: 0.88rem;
			padding: 0.28rem 2rem 0.28rem 1rem;
		}

		.text-default {
			color: #6b6c7e;
			font-weight: 600;
		}

		.user-personal-bar {
			.fieldset {
				position: relative;
			}

			.user-avatar-link .panel-notifications-count {
				right: calc(100% - 0.75rem);
				top: -0.35rem;
			}
		}
	}

	.user-avatar-link {
		display: block;
		position: relative;

		.panel-notifications-count {
			display: block;
			margin: 0;
			max-width: none;
			position: absolute;
			right: calc(100% - 0.7rem);
			top: -0.4rem;
		}

		.text-default {
			align-items: center;
			display: flex;

			.user-full-name {
				margin-left: 0.5rem;

				@include media-breakpoint-down(xs) {
					display: none;
				}
			}
		}
	}
}

.btn-group + .info-panel {
	@include media-breakpoint-up(sm) {
		top: auto;
	}
}

#footer {
	color: #fff;
	margin-top: 1rem;

	> .container {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
}

#wrapper
{
	@import './custom/scss/style.scss';
	@import '../js/custom/plugins/icofont/icofont.min.css';
	@import '../js/custom/plugins/slick-carousel/slick/slick.css';
	@import '../js/custom/plugins/slick-carousel/slick/slick-theme.css';
	@import '../../node_modules/hover.css/scss/hover.scss';
	.pointer
	{
		cursor: pointer!important;
	}
	.header-top-bar
	{
		background-color: var(--primary)!important;
		color: var(--light)!important;
	}
	.header-top-bar .dropdown .dropdown-item:hover {
		color: var(--secondary)!important;
	}
	.divider
	{
		background: var(--secondary)!important;
	}
	.nav-item
	{
		cursor: pointer;
	}
	.btn-main-2
	{
		background-color: var(--primary);
		border-color: var(--primary);
		color: var(--light);
	}
	.btn-main-2:hover
	{
		background-color: var(--secondary);
		border-color: var(--secondary);
		color: var(--light);
	}

	.btn-primary
	{
		background-color: var(--primary);
		border-color: var(--primary);
		color: var(--light);
	}
	.btn-primary:hover
	{
		background-color: var(--secondary);
		border-color: var(--secondary);
		color: var(--light);
	}
	.footer-socials
	{
		display: flex!important;
	}

	@media only screen and (min-width: 768px) {
		.col-20
		{
			width: 10%;
		}
		.col-20
		{
			width: 20%;
		}
		.col-30
		{
			width: 30%;
		}
		.col-40
		{
			width: 40%;
		}
		.col-50
		{
			width: 50%;
		}
		.col-60
		{
			width: 60%;
		}
		.col-70
		{
			width: 70%;
		}
		.col-80
		{
			width: 80%;
		}
		.col-90
		{
			width: 90%;
		}
	}
	.company-name
	{
		font-family: sans-serif;
		font-weight: 900;
		letter-spacing: 5px;
	}
	.logo img
	{
		max-height: 65px!important;
	}
	.overlay
	{
		width: 100%!important;
		height: 100%!important;
		top: 0!important;
	}
	
}
